{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <h1>Привет, я автор этого проекта</h1>
    <h3 class="font-monospace">  Vladislav Yakovenko</h3>
  <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
    <div class="border-top" style="background: #d7e6fd">
      <span>
        <p>
          <b>Кем я являюсь:</b>
        </p>
      </span>
      <ul>
        <li class="border-top">
          <p>
            Студент Яндекс.Практикума
          </p>
        </li>
        <li class="border-top">
          <p>
              Начинающий "backend" разработчик
          </p>
        </li>
        <li class="border-top">
          <p>
              Уверенный пользователь успокоительных
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
      <div class="border-top" style="background: #d7e6fd">
      <span>
          <p>
            <b>Как меня найти:</b>
          </p>
      </span>
      <ul>
        <li class="border-top">
          Telegram: <a href="https://t.me/Dzheronimo">@Dzheronimo</a>
        </li>
        <li class="border-top">
           Instagram: <a href="https://instagram.com/dzheronimo">#Dzheronimo</a>
        </li>
        <li class="border-top">
           GitHub: <a href="https://github.com/dzheronimo">"__"</a>
        </li>
        <li class="border-top">
          Сварите кофе и поставьте у открытого окна
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="border-2">
    <h3>
        Дорогой человек, давай поговорим:
    </h3>
    <p>
      Мой путь в разработку, какой бы ты ее не представлял был долгим и темным. Много информации и много вопросов.
        Как я донес этот запал до сегодняшнего дня я не знаю, но он точно остался.
        Сегодня меня ведет мечта или цель если пожелаешь, сделать что-то свое. Начну с малого и буду идти выше.
    </p>
    <p>
      <i>Доброго дня дорогой друг!</i>
    </p>
  </div>
</div>
{% endblock %}https://github.com/dzheronimo